* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

div.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 48%;
  height: 25rem;
  border: 1px solid #65348e;
  border-radius: 10px;
  display: flex;
  margin-bottom: 2rem;
}

.card__image-container {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__body {
  width: 50%;
  padding: 1.5rem 3rem;
}

.card__body-title {
  height: 7.5rem;
}

.card__body-title h2 {
  font-size: 1.8rem;
  line-height: 1.3;
  color: #e66e3a;
  font-family: "Merriweather", serif;
}

.card__body-content {
  height: 7.5rem;
}

.subtitle {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
.text {
  color: #6a6a6a;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__footer-right {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 3rem;
}
